<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Rate</th>
      <th scope="col">Route</th>
      <th scope="col">Distance</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody class="orders">
   <%= render orders %>
  </tbody>
</table>
<%= paginate orders %>

<div class="order-errors">
  <%= render 'shared/errors', resource: order %>
</div>

<%= form_with model: order, remote: true do |f| %>
  <%= f.label :weight %>
  <%= f.number_field :weight %>

  <%= f.label :length %>
  <%= f.number_field :length %>

  <%= f.label :width %>
  <%= f.number_field :width %>

  <%= f.label :height %>
  <%= f.number_field :height %>

  <%= f.label :departure_point %>
  <%= f.text_field :departure_point %>

  <%= f.label :destination %>
  <%= f.text_field :destination %>

  <%= f.submit %>
<% end %>
