<%= link_to 'log out', destroy_user_session_path, method: :delete %>
<table class="table table-hover">
  <thead>
    <tr>
      <%= content_tag :th, scope: 'col' do %>
        <%= link_to 'Size', sort: "size" %>
      <% end %>
      <%= content_tag :th, scope: 'col' do %>
        <%= link_to 'Rate', sort: "rate" %>
      <% end %>
      <%= content_tag :th, scope: 'col' do %>
        Route
      <% end %>
      <%= content_tag :th, scope: 'col' do %>
        <%= link_to 'Distance', sort: "distance" %>
      <% end %>
      <%= content_tag :th, scope: 'col' do %>
        <%= link_to 'Price', sort: "price" %>
      <% end %>
    </tr>
  </thead>
  <tbody class="orders">
   <%= render orders %>
  </tbody>
</table>
<%= paginate orders %>

<div class="order-errors">
  <%= render 'shared/errors', resource: order %>
</div>

<%= form_with model: order, remote: true do |f| %>
  <%= f.label :weight %>
  <%= f.number_field :weight %>

  <%= f.label :length %>
  <%= f.number_field :length %>

  <%= f.label :width %>
  <%= f.number_field :width %>

  <%= f.label :height %>
  <%= f.number_field :height %>

  <%= f.label :departure_point %>
  <%= f.text_field :departure_point %>

  <%= f.label :destination %>
  <%= f.text_field :destination %>

  <%= f.submit %>
<% end %>
