<h1>My orders</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <%= content_tag :th, scope: 'col' do %>
        <%= link_to 'Size', sort: "size" %>
      <% end %>
      <%= content_tag :th, scope: 'col' do %>
        <%= link_to 'Rate', sort: "rate" %>
      <% end %>
      <%= content_tag :th, scope: 'col' do %>
        Route
      <% end %>
      <%= content_tag :th, scope: 'col' do %>
        <%= link_to 'Distance', sort: "distance" %>
      <% end %>
      <%= content_tag :th, scope: 'col' do %>
        <%= link_to 'Price', sort: "price" %>
      <% end %>
    </tr>
  </thead>
  <tbody class="orders">
   <%= render orders %>
  </tbody>
</table>
<%= paginate orders %>

<div class="order-errors">
  <%= render 'shared/errors', resource: order %>
</div>

<%= form_with model: order, remote: true do |f| %>

  <%= f.fields_for :package do |h| %>

    <%= h.label :weight %>
    <%= h.number_field :weight %>

    <%= h.label :length %>
    <%= h.number_field :length %>

    <%= h.label :width %>
    <%= h.number_field :width %>

    <%= h.label :height %>
    <%= h.number_field :height %>

  <% end %>

  <%= f.fields_for :route do |h| %>

    <%= h.label :departure_point %>
    <%= h.text_field :departure_point %>

    <%= h.label :destination %>
    <%= h.text_field :destination %>

  <% end %>

  <%= f.submit %>
<% end %>
