<h1> Your order successfully created!</h1>
<table>
  <%= content_tag :tbody do %>
    <%= content_tag :tr do %>
      <%= content_tag :td, @order.route_text %>
      <%= content_tag :td, @order.distance %>
      <%= content_tag :td, @order.rate %>
      <%= content_tag :td, @order.price %>
    <% end %>
  <% end %>
</table>
